@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light_0-webfont.eot');
    src: url('../fonts/proximanova-light_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-light_0-webfont.woff') format('woff'),
        url('../fonts/proximanova-light_0-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-light_0-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{ margin:0; padding:0; text-decoration:none; list-style:none;}
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ border:none; }
body{ background:#4b0105 url(../../images/bg.png) repeat; font-family: 'proxima_novalight';}
.wrapper{ width:990px; margin:0 auto; background:#FFF;}
.clear{ clear:both;}

/********************* Login Page Css Start***********************/
.login-page{ padding-bottom:100px; width:428px; margin:0 auto; padding-top:62px;}
.login-logo{ width:100%; text-align:center;  padding-bottom:62px;}
.login-form{    padding-top: 50px; position:relative; width:100%; background:#e8e8e8; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding-bottom:20px;}
.login-top{ width:100%; text-align:center; color:#FFF; font-size:22px; padding:23px 0 15px 0; text-shadow:0 1px 0 #6d0d12; font-family: 'proxima_novalight'; background:url(../../images/login-top-center.png) no-repeat center top; position:absolute; top:-8px;}
.login-center{ overflow:hidden; padding:34px 44px 0 44px; }
.input-div{ margin-bottom:15px; background:#FFF; width:100%; padding:16px 0;  -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px; border-top:2px solid #d3d3d3; border-left:2px solid #d3d3d3;}
.input-div span{ padding-top: 2px; float:left; padding-left:20px; padding-right:14px;}
.input-div input{ outline:none; color:#555656; font-size:18px; border:none; font-weight:normal; background:none; width:80%; font-family: 'proxima_novalight';}

.input-radio{ padding-left:21px;}
.input-radio small{margin-top: 15px; color:#969c9e; font-size:11px; float: left;}
.radio-input{ margin-top:14px; float: left; margin-right:16px;}
.sign{ background:url(../../images/sign.png) no-repeat; font-size:22px; color:#FFF;    text-shadow: 0 1px 0 #6D0D12; border:none; width:136px; height:43px; cursor:pointer; float:right; font-weight:normal;}
.sign:hover{ background:url(../../images/sign-hover.png) no-repeat;}
.forgot-pass{ padding-top:11px; text-align:center;}
.forgot-pass p{ color:#929292; font-size:14px; padding-top:6px;}
.foo-border{ border-top:1px solid #f1f0f0;  margin-top: 7px;}
.forgot-pass a{color:#929292; font-size:14px;}
.forgot-pass a:hover{ text-decoration:underline;}
/********************* Login Page Css End***********************/
/********************* Inner Page Css Start***********************/
.header{ width:100%; background:#FFF; float:left; padding-bottom:26px;}
.logo{ float:left; padding:38px 0 0 22px;}
.header-right{  width: 200px; float:right;}
/* Right drop down strat */
.wrapper-dropdown-5 { position: relative; width: 170px; margin: 0 auto;padding: 12px 15px; background: #fff;  border-radius: 5px;  cursor: pointer;  outline: none;}
.wrapper-dropdown-5:after { content: "";  width: 0; height: 0;  position: absolute;  top: 50%; right: 15px; margin-top: -3px; border-width: 6px 6px 0 6px; border-style: solid; border-color: #adadad transparent; color:#555656; font-size:14px;}
.wrapper-dropdown-5 .dropdown { position: absolute; top: 100%; left: 0; right: 0; background: #fff;  border-radius: 0 0 5px 5px;  border: 1px solid rgba(0,0,0,0.2);  border-top: none;  border-bottom: none; list-style: none;  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;  -ms-transition: all 0.3s ease-out;  -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; max-height: 0;  overflow: hidden;}
.wrapper-dropdown-5 .dropdown li {  padding: 0 10px ;}
.wrapper-dropdown-5 .dropdown li a { display: block; text-decoration: none; color: #333;  padding: 10px 0; transition: all 0.3s ease-out;  border-bottom: 1px solid #e6e8ea;}
.wrapper-dropdown-5 .dropdown li:last-of-type a {  border: none;}
.wrapper-dropdown-5 .dropdown li i { margin-right: 5px;  color: inherit; vertical-align: middle;}
/* Hover state */
.wrapper-dropdown-5 .dropdown li:hover a {color: #57a9d9;}
/* Active state */
.wrapper-dropdown-5.active { border-radius: 5px 5px 0 0; box-shadow: none; border-bottom: none; color: #555656;}
.wrapper-dropdown-5.active:after {  border-color: #fff transparent;}
.wrapper-dropdown-5.active .dropdown { max-height: 160px;}
.wrapper-dropdown-5 { font-size: 14px;}
#dd span{ float:left; padding-right:15px;  padding-top: 10px;}
#dd  img{ border:1px solid #bebebe; width:32px; height:32px;}
/* Right drop down end */
/* main-contnt strat */
.main-contnt{ width:100%; background:url(../../images/pattern.jpg) repeat; float: left; min-height: 520px; }
.top-menu{ padding: 4px 0; width:100%; float:left; border-bottom:1px solid #dedcdc; border-top:1px solid #dedcdc;}
.top-menu ul{ padding-left:15px;}
.top-menu div{ text-align: right; margin-right: 8px;/*14px;*/margin-top: 6px;}

.top-menu ul li{ float:left;}
.top-menu ul li a{ display: block; padding: 5px;}
.top-menu img{ opacity:0.7;}
.top-menu img:hover{ opacity:1;}
.distanc{ padding-left:0px !important;}
.section{ padding-top:19px; width:100%; float:left;}
.section-left{ float:left; width:230px;}
section-right{ width:auto;}
/*.section-right{ float:right; width:auto;} 24/july*/

ul.left-menu{ width:100%; border-right:1px solid #dedcdc; border-top:1px solid #dedcdc; } 
ul.left-menu li{     background:url(../../images/menu-bg.jpg) repeat-x; border-bottom:1px solid #dedcdc;}
ul.left-menu li a{  line-height: 24px; padding:12px 15px; display:block; color:#151414; font-size:14px; }
ul.left-menu li a:hover, .recentactive a, .all-docsactive a, .searchactive a, .adminactive a{ background:#d23d3d; color:#FFF !important;}
.left-menu span{float:left; width:53px; height:21px; text-align:left;}

.recent{ background:url(../../images/recent-doc.png) no-repeat left center;}
ul.left-menu li a:hover .recent, .recentactive .recent{ background:url(../../images/recent-doc-h.png) no-repeat left center;}

.all-docs{ background:url(../../images/all-docs.png) no-repeat left center;}
ul.left-menu li a:hover .all-docs, .all-docsactive .all-docs{ background:#d23d3d url(../../images/all-docs-h.png) no-repeat left center;}

.search{ background:url(../../images/search.png) no-repeat left center;}
ul.left-menu li a:hover .search, .searchactive .search{ background:url(../../images/search-h.png) no-repeat left center;}

.admin{ background:url(../../images/admin.png) no-repeat left center;}
ul.left-menu li a:hover .admin, .adminactive .admin{ background:url(../../images/admin-h.png) no-repeat left center;}

ul.folder{ float: left; margin-top: 21px; width:100%;}
ul.folder li{  padding-bottom: 30px; float:left; width:120px; text-align:center;}
ul.folder li a{ font-size:14px; color:#0e0e0e; display:block;}
ul.folder li a:hover{ color:#d44545;}

.folder p{ padding-top:12px;}
.footer{ position:relative; padding:21px 0; width:100%; float:left; background:#fff; border-top:1px solid #c0bdbd; text-align:center;}
.footer p{ color: #929292; float: left;font-size: 14px; text-align: right; width: 55%;}
.footer a{ position:absolute; right:10px;  top: 6px;}
.footer span{color:#929292; font-size:14px; float:right;margin-right: 10%;}


.headind{ float:left; width:99.9%; background:url(../../images/menu-bg.jpg) repeat-x; border-top:1px solid #dedcdc;  border-bottom:1px solid #dedcdc;}
.headind h2{ font-size:16px; float:left; color:#d23d3d; padding:14px 0 14px 20px;}

.tab-menu{ width:100%;}
ul.tab{}
ul.tab li{ margin-bottom:26px; float:left; width:186px; text-align:center; margin-right:60px;}
ul.tab li a{ color:#030101; font-size:15px; background:url(../../images/menu-bg.jpg) repeat-x; border:1px solid #dedcdc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display:block; padding: 14px 0;}
ul.tab li a:hover, .tabactive{ background:#D23D3D !important; color:#FFF !important;}
.last-maargin{ margin-right:0 !important;}
.tab-content{ width:98%; float:left; padding-right:10px;margin-left: 10px;}
.tab-content-left{ float:left; width:385px;}

/* .tab-content-left2{ float:left; width:385px;margin-left: 100px;} */
.tab-content-left2{ float:left; width:450px;margin-left: 80px;} 

ul.tab-field{ width:100%; padding-left:20px;}
ul.tab-field li{ width:100%; float:left; padding-bottom:15px;}
ul.tab-field li span{ float:left; width:130px; font-size:14px; color:#010101;  padding-top: 9px;}
ul.tab-field li input{ border:1px solid #dedcdc; background:#FFF; -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;   padding: 7px 5px 7px 5px; width: 57%; color:#818181; font-size:14px;}
ul.tab-field li textarea { border:1px solid #dedcdc; background:#FFF; -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;   padding: 7px 5px 7px 5px; width: 57%; color:#818181; font-size:14px;}.fileupload{ border:1px solid #dedcdc; background:#FFF; -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.15); box-shadow: inset 0 1px 3px rgba(0,0,0,.15); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;   padding: 7px 5px 7px 18px; width: 57%; color:#818181; font-size:14px;}
.tab-content-right{ padding-top:45px; padding-bottom: 6px; float:right; width:238px; text-align:center; background:url(../../images/shadow.png) no-repeat bottom center;}
.tab-content-right img{ border:1px solid #dedcdc;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
ul.pagination{ float:right; padding-top:16px; padding-right:15px;}
ul.pagination li{ float:left; color:#030101; font-size:15px;}
ul.pagination li a{ color:#030101; font-size:15px; padding:0 10px;}
ul.pagination li a:hover, .pageactive{ color:#d23d3d !important;}
.main-tab{ width:100%; float:left; }
.right-pagination{padding-bottom:70px; padding-bottom:60px; float:left; width:100%;}
/********************* Inner Page Css End***********************/



/********************* Media Query Mobile strat***********************/
@media screen and (max-width:1024px) { .wrapper{ width:90%;} .section-right{ width:auto;} .section-left{ width:25%;} ul.tab li{ margin-right:33px;} .tab-content-left{ width:62%;} .tab-content-left2{ width:62%;margin-left:0px;} .tab-content-right{ width:33%;} .select{ background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DEDCDC;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;color: #818181;font-size: 14px;padding: 7px 5px;width:51%;}}
@media screen and (max-width:960px) {ul.tab li{ margin-right:14px;}}
@media screen and (max-width:800px) {ul.tab-field li span{ width:40%;} ul.tab-field li input{ width:49%;} ul.tab-field li textarea {  width: 49%;}}
@media screen and (max-width:768px) {.left-menu span{ width:28%;}}
@media screen and (max-width:685px) {.left-menu span{width: 24%;}}
@media screen and (max-width:640px) {.section-left{ width:30%;} .section-right{ width:66%;} ul.tab li{ width:45%;} ul.tab-field li span{ width:34%;} ul.tab-field li input {  width: 50%; padding:7px 5px 7px 6px;} ul.tab-field li textarea {  width: 50%; padding:7px 5px 7px 6px;} .headind{ width:99.8%;}
                                     .menu-left a{  padding:12px 15px 9px; color:#151414; font-size:14px;border-right: 1px solid #DEDCDC;border-top: 1px solid #DEDCDC;width: 100%; }
                                     .menu-left a:hover, .recentactive a, .all-docsactive a, .searchactive a, .adminactive a{ background:#d23d3d; color:#FFF !important;}

}
@media screen and (max-width:600px) {.section-left{ width:32%;} .section-right{ width:67%;} .headind{width: 99.8%;} .section-right{ width:65%;} ul.folder li{ width:33%;}}
@media screen and (max-width:568px) {.headind{ width:99%; float:right;} ul.tab-field{ padding-left:0;} ul.tab-field li span{ width:37%;} .tab-content-left{ width:100%;} .tab-content-left2{ width:100%;margin-left: 0px;} .tab-content-right { padding-top: 10px; width: 100%;}}
@media screen and (max-width:480px) {.login-page{width: 90%;} .section-left{width: 37%;} .section-right {width: 62%;} .headind{ width:96%;} ul.tab {  padding-left: 10px;}}
@media screen and (max-width:420px) {.logo{ width:40%;} .header-right{ width:53%;} .input-div input{ width:75%;} .section-left{ width: 100%;} .section-right {width: 100%;} ul.left-menu{ border-right:none;} ul.folder li{ width:49%;} .headind{ width:100%; border-left:none;  margin-top: 20px;} ul.folder li{ width:33%;} ul.tab-field{ padding-left:10px;} .headind h2{ padding:14px 0 14px 14px;} ul.pagination{ padding-right:4px;}}
@media screen and (max-width:380px) { .headind{ width:100%; border-right:none; border-left:none;} .login-center{ padding:34px 14px 0;} .section-left{ width:100%;} .section-right{padding-top: 25px; width: 100%;}ul.left-menu{ border-right:none;} .logo{ width:40%;} .header-right { width: 59%;} .footer{ padding:10px 0 55px;} .footer a { position: absolute;right: 0; top: 28px; width: 100%;} 
                                      .logo {  padding-left: 0;   text-align: center; padding-bottom:20px;  width: 100%;} .header-right{ width:100%;}}
@media screen and (max-width:320px) { .logo{ width:100%; text-align:center;} .header-right{ width:100%;} .header{ padding-bottom:0;} ul.tab li{ width:96%;  margin-bottom: 10px;} ul.tab-field li span { padding-right: 7px;  width: 40%;} ul.tab-field li input {padding: 7px 5px 7px 6px; width: 48%;}}
/********************* Media Query Mobile end***********************/


/*add by bij 11 july*/
div.error{
    color:#931017;
    font-family: 'proxima_novalight';
    font-size: 14px;
    text-align: right;
    margin-right: 25px;
}

span.error{
    color:#931017;
    font-family: 'proxima_novalight';
    font-size: 14px;
    margin-right: 25px;
}

#diverror{
    color:#931017;
    padding-bottom: 10px;
    font-family: 'proxima_novalight';
    font-size: 14px;
    text-align: right;
    margin-right: 25px;
}
.alert-success {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: green;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FFF6DF;
    border: 1px solid green;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-error {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #B12329;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FFF6DF;
    border: 1px solid #B12329;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-info{
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #B12329;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #FFF6DF;
    border: 1px solid #B12329;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tab-content-left-table{font-family: 'proxima_novalight';font-size: 14px;}

/*update 15 july*/
.stdListing table {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E1E3E5 #E1E3E5 #D2D2D4;
    border-style: solid;
    border-width: 1px;
    font-size:13px;
}
.stdListing table th {
    background: url("../../images/icons/table.header.bg.gif") repeat-x scroll center bottom #EEF0F1;
    border-color: #F5F6F8 #D8DBDE #E1E3E5 #FCFDFF;
    border-style: solid;
    border-width: 1px;
    color: #4A4F52;
    font-weight: bold;
    line-height: 13px;
    padding: 5px 4px;
    text-align: left;
    text-shadow: 1px 1px #F5F6F8;
    vertical-align: middle;
}
.stdListing table th a {
    color: #3A6888;
    display: block;
    line-height: 13px;
    padding: 4px 21px 4px 6px;
    text-shadow: 1px 1px #F5F6F8;
}
.stdListing table th img, .stdListing table th a img {
    vertical-align: middle;
}
.stdListing table th a.sortAsc {
    background: url("../../media/images/core/table.animation.strip.gif") no-repeat scroll right top transparent;
    border-color: #A2AAB4 #FAFBFD #FAFBFD #A2AAB4;
    border-style: solid;
    border-width: 1px;
    padding: 3px 20px 3px 5px;
}
.stdListing table th a.sortDesc {
    background: url("../../media/images/core/table.animation.strip.gif") no-repeat scroll right -100px transparent;
    border-color: #A2AAB4 #FAFBFD #FAFBFD #A2AAB4;
    border-style: solid;
    border-width: 1px;
    padding: 3px 20px 3px 5px;
}
.stdListing table th.right {
    text-align: right;
}
.stdListing table th.right a {
    padding: 4px 6px 4px 21px;
    text-align: right;
}
.stdListing table th.right a.sortAsc {
    background: url("../../media/images/core/table.animation.strip.gif") no-repeat scroll left top transparent;
    padding: 3px 5px 3px 20px;
}
.stdListing table th.right a.sortDesc {
    background: url("../../media/images/core/table.animation.strip.gif") no-repeat scroll left -100px transparent;
    padding: 3px 5px 3px 20px;
}
.stdListing table th a:hover {
    color: #0083E0;
}
.stdListing table td {
    background: none repeat scroll 0 0 #F5F6F7;
    border-color: #FCFDFF #D8DBDE #E1E3E5 #FCFDFF;
    border-style: solid;
    border-width: 1px;
    padding: 3px 4px;
    text-align: left;
    vertical-align: top;
}
.stdListing table td.right {
    text-align: right;
}
.stdListing table td.center {
    text-align: center;
}
.stdListing table tr.alternateRow td {
    background: none repeat scroll 0 0 #EDEFF0;
}
.stdListing table tr:hover td {
    background: none repeat scroll 0 0 #FAFBFC;
}
.stdListing table tr.selected td {
    background: none repeat scroll 0 0 #FFE8F8;
    border-bottom: 1px solid #E1CFDF;
    border-right: 1px solid #E1CFDF;
}
.stdListing table tr.filter td {
    background: none repeat scroll 0 0 #E8F2FF;
    border-bottom: 1px solid #CDD7E5;
    border-right: 1px solid #CDD7E5;
}
.stdListing table tr.addList td {
    background: none repeat scroll 0 0 #FFF4E8;
    border-bottom: 1px solid #E1D9D0;
    border-right: 1px solid #E1D9D0;
}
.stdListing table tr.total td {
    background: none repeat scroll 0 0 #FFECCC;
    border-color: #FFF4E2 #DFC8A3 #DFC8A3 #FFF4E2;
    border-style: solid;
    border-width: 1px;
    color: #A85437;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
}
.admin-right-menu{    
    float:right;margin-right:20px;margin-top:17px;
    color: #D23D3D;
    font-size: 14px;
}
.admin-right-menu a{    
    float:right;margin-right:20px;
    color: #D23D3D;
    font-size: 14px;
}
/*Date and time calender css*/
#ui-datepicker-div, .ui-datepicker{ font-size: 75%; }
.clear{ clear: both; }
.example-container input{ border: solid 1px #aaa; padding: 4px; width: 175px; }

/*Pagination class 22 july */
#pagination { text-align: right;margin-bottom:15px!important;}
#pagination a, #pagination strong {
    background: #e3e3e3;
    padding: 4px 7px;
    text-decoration: none;
    border: 1px solid #cac9c9;
    color: #292929;
    font-size: 13px;
}

#pagination strong, #pagination a:hover {
    font-weight: normal;
    background: #cac9c9;
}
.menu-left{float:left;margin-left: 00px;color: #D23D3D;padding-bottom: 4px;}

/*.menu-left a {float:left;margin-left: 20px;color: #D23D3D;}*/
.menu-left a{  padding: 12px 21px 9px;/*12px 25px 9px;*/ color:#151414; font-size:14px;border-right: 1px solid #DEDCDC;border-top: 1px solid #DEDCDC;width: 100%; }
.menu-left a:hover, .recentactive a, .all-docsactive a, .searchactive a, .adminactive a{ background:#d23d3d; color:#FFF !important;}
.adminactive{ background:#d23d3d; color:#FFF !important;}

/*Contact person table css 26 july*/
.cptd{
    color: #010101;
    float: left;
    font-size: 14px;
    padding-top: 9px;
    width: 130px;
}
.cptdinput{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDCDC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    color: #818181;
    font-size: 14px;
    padding: 7px 5px;
    width: 57%;
}
.select{ background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DEDCDC;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;color: #818181;font-size: 14px;padding: 7px 5px;width:60%;}

em{color: red;font-size: 16px;}

.searchbox_text{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDCDC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    color: #818181;
    font-size: 14px;
    padding: 7px 5px;
    width: 57%;
}
.checkboxhidden{display: none;}


/* Rubina */
.contentwrapper .widgetbox { margin-bottom: 20px; margin-top: 0; }
.widgetbox a {color:#666666;}


/***** STANDARD TABLES STYLES *****/
/**************************************/
.stdtable { width: 100%; }
.stdtable .con0 { background: #fff; }
.stdtable .con1 { background: #fcfcfc; }
.stdtable th, .stdtable td { line-height: 21px; vertical-align: middle; color: #333; }
.stdtable thead th, .stdtable thead td { 
    padding: 7px 10px; border: 1px solid #ddd; border-left: 0; 
    text-align: left; 
}
.stdtable tfoot th, .stdtable tfoot td { padding: 7px 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: left; }
.stdtable thead th:first-child, .stdtable tfoot th:first-child,
.stdtable thead td:first-child, .stdtable tfoot td:first-child { border-left: 1px solid #ddd; }
.stdtable thead th.head0, .stdtable tfoot th.head0, .stdtable thead td.head0, .stdtable tfoot td.head0 { background-color: #fcfcfc; }
.stdtable thead th.head1, .stdtable tfoot th.head1, .stdtable thead td.head1, .stdtable tfoot td.head1 { background-color: #f7f7f7; }
.stdtable thead th.sorting, .stdtable thead td.sorting { 
    background-image: url(../../images/sort_both.png); background-repeat: no-repeat; background-position: right center; }
.stdtable thead th.sorting_asc, .stdtable thead td.sorting_asc { 
    background-image: url(../../images/sort_asc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.sorting_desc, .stdtable thead td.sorting_desc  { 
    background-image: url(../../images/sort_desc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.nosort { background-image: none !important; }
.stdtable thead td { font-weight: bold; }
.stdtable thead td.center { text-align: center; }
.stdtable tbody tr td { padding: 8px 10px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; color: #666; }
.stdtable tbody tr:last-child td { border-bottom: 1px solid #ddd; }
.stdtable tbody tr td:first-child { border-left: 1px solid #ddd; }
.stdtable tbody tr td:last-child { border-right: 1px solid #ddd; }
.stdtable tbody tr.togglerow td { background: #fff; padding: 15px; }
.stdtable tbody tr.togglerow:hover td { background: #fff; }
.stdtable tbody tr.hiderow { display: none; }
.stdtable .actions { text-align: center; }
.stdtable .actions a { display: inline-block; margin-left: 5px; border-left: 1px solid #ccc; padding-left: 5px; }
.stdtable .actions a:first-child { border-left: 0; margin-left: 0; }
.stdtable .actions a:hover { color: #FB9337; }
.stdtable a.title { font-weight: bold; color: #32415a; }
.stdtable a.title:hover { color: #fb9337; }

.msg-menu {  border-bottom: 1px solid #DEDCDC;
             border-top: 1px solid #DEDCDC;
             float: left;
             padding: 4px 0;
             width: 100%;}
.msg-menu a{padding: 5px;}
.pagetitle{margin: 40px 0 0 35px}
.no-result{margin:20px 0 0 50px}

.msg{background-color:#fff;color:#000;}
.msg_contant{padding: 10px;min-height:364px;}
.msg_contant h2{border-bottom: 1px solid;
    margin: 5px 0 10px;
    padding: 0 0 10px 1px;}
.msg_contant label{ font-weight: bold;}
.msg_contant span{ margin: 0 0 0 20px;}
.msg_div{padding: 5px;}

#pagination_my .pagination{}
#pagination_my .pagination li  a,#pagination_my .pagination   li  span{background-color: #f6f6f6;border: 1px solid #cccccc;color:#969696;}
#pagination_my .pagination  .active  a,#pagination_my  .pagination .active  span,#pagination_my .pagination > .active a:hover,#pagination_my  .pagination > .active > span:hover,#pagination_my  .pagination .active  a:focus,#pagination_my .pagination  .active  span:focus,#pagination_my .pagination > li > a:hover, #pagination_my .pagination > li > span:hover,#pagination_my .pagination > li > a:focus,#pagination_my .pagination > li > span:focus
{z-index: 2;color: #ffffff;cursor: default;background-color: #1171a3;box-shadow: inset 0 0 8px rgba(0, 105, 146, 0.4);-webkit-box-shadow: inset 0 0 8px rgba(0, 105, 146, 0.4);-moz-box-shadow: inset 0 0 8px rgba(0, 105, 146, 0.4);-o-box-shadow: inset 0 0 8px rgba(0, 105, 146, 0.4);-ms-box-shadow: inset 0 0 8px rgba(0, 105, 146, 0.4);border-color: #006D94;}
#pagination_my .pagination > li > a:hover, #pagination_my .pagination > li > span:hover,#pagination_my .pagination > li > a:focus,#pagination_my .pagination > li > span:focus{cursor:pointer;}
#pagination_my .pagination > .disabled > span,#pagination_my .pagination > .disabled > span:hover,#pagination_my .pagination > .disabled > span:focus, #pagination_my .pagination > .disabled > a,#pagination_my .pagination > .disabled > a:hover,#pagination_my .pagination > .disabled > a:focus{cursor: not-allowed;background-color: #f6f6f6;border: 1px solid #cccccc;color: #969696;box-shadow:none;-webkit-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;-moz-box-shadow:none;}

