body{
	background-color: white;
}
/* css para o menu escondido da barra do menu */
#container {
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	float:left;
	width:100%;
} 


/* css da paginação das tabelas*/
.pg-normal {
	color: black;
	font-weight: normal;
	text-decoration: none;    
	cursor: pointer;    
}
.pg-selected {
	color: black;
	font-weight: bold;        
	text-decoration: underline;
	cursor: pointer;
}

/* css para a verificação do registo*/
.form_col {
  display: inline-block;
  margin-right: 15px;
  padding: 3px 0px;
  width: 200px;
  min-height: 1px;
  text-align: right;
}

input {
  padding: 2px;
  border: 1px solid #CCC;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

input:focus {
  border-color: rgba(82, 168, 236, 0.75);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
  border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
  border-color: rgba(68, 191, 68, 0.75);
  -moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
  box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
  border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
  border-color: rgba(191, 68, 68, 0.75);
  -moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
  box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
  display: inline-block;
  margin-left: 20px;
  padding: 2px 4px;
  border: 1px solid #555;
  background-color: #CCC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*google maps */
#map_canvas{
	border: 1px dashed #C0C0C0;
	width: 50%;
	height: 400px;
}

#estrutura_cabeçalho{
background-color: #e2dcfc;
}

#menu_vis{
	width: 1024px;
	position: relative;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}
#login2{
	width: 1024px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}
#recuperar_pass a{
	color: black;
	background-color: #e7eef7;
	list-style:none;
	text-decoration: none;
	font-size: 12px;
}
#recuperar_pass a:hover{
	color: black;
	background: #D3D3D3;
	font-size: 13px;
	text-decoration: underline;
}
#tempo{

}
#estrutura{
	margin:  auto;
	width: 1024px;
	box-shadow: 0 0 15px;
	background-color: #e7eef7;
}
#menu_cores_css{
	text-align: left;
	margin-left: 20px;
}




/* css do texto da página visitante*/


.paragrafo{
    line-height: 20px;
    text-align: justify;
	font-family: Times New Roman;
	font-size: 12px
	
}
.titulo{
    font-size: 24px;
    color: #003366;
    text-transform: uppercase;
}

.imagem1{
  height:100px;
  width:130px;
  float:left;
}

.imagem2{
  height:200px;
  width:200px;
  float:left;
}
.imagem3{
  height:200px;
  width:230px;
  float:left;
}

.subtitulo{
    font-size: 14px;
    padding: 5px;
    background-color: #E3E3E3;
    color: #4C4C4C;
} 


/* css da estrutura toda do site*/

.estrutura{
	margin:  auto;
	width: 1024px;
	box-shadow: 0 0 15px;
	background-color: #e7eef7;
}

.login{
	width: 700px;
	height: 50px;
	border: 1px solid black;


}
.bordermenu{
	width: 700px;
	height: 60px;
	border: 1px solid black;
}

.pre_tempo{
	width: 200px;
	height: 100px;
	margin-top: 10px;	
	text-align: center;
	float: right;
	margin-right: 20px;
	border: 1px solid black;
}

.proximos_6ev{
	width: 1024px;
	text-align: center;
	margin:auto;
}

.feed_noticias{
	width: 1024px;
}

/* Tabelas */
#results{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 8px;
}
	#results td, #results th {
		font-size: 13px;
		border:1px solid #665857;
		padding:3px 5px 3px 5px;
		text-align: center;
	}
	#results th {
		font-size:	14px;
		text-align:center;
		padding-top:5px;
		padding-bottom:5px;
		background-color:#b4aca6;
		color:#ffffff;
	}
	.linha_par {
		background-color:#f1f3f3;
	 }
/* Paginação */
#pageNavPosition{
	text-align: center;
}

.bandeiras{
	width: 20px;
}

#prova{
	text-align:center;
	margin: auto;
    width: 200px;
    background-color: #e7eef7;
	margin-bottom: 10px;
}	
#voltar {
	margin-left: 49%;
	text-decoration: none;
}


