/* CO */

a {
	color: #1389FF;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #52A9FF;
	text-decoration: none;
}

fieldset
{
	border: 1px solid #0033FF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px;
}

.header_h1, .footer_h1 {
    background: url("/pw606/img/co/fundo_header_co.png") repeat scroll transparent;
    color: #FFFFFF;
    height: 35px;
    padding-left: 10px;
}

.header_h1 {
	border-radius: 5px 5px 0 0;
	margin: 0px 0px 10px 0px;
}

.footer_h1 {
	border-radius: 0 0 5px 5px;
	margin: 10px 0px 0px 0px;
}

.header_h1 > input[type="button"], .header_h1 > button,
.footer_h1 > input[type="button"], .footer_h1 > button {
	background: none;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
	border-left: white 1px solid;
	box-shadow: none;
	border-radius: 0;
	float: right;
	margin-top: 6px;
	cursor: pointer;
	text-decoration: none;
	
}

.header_h1 input[type="button"]:hover, .header_h1 > button:hover ,
.footer_h1 input[type="button"]:hover, .footer_h1 > button:hover{
	background: none;
	text-decoration: underline;
}

/* Topo */

#topo {
	background: url("/pw606/img/co/header_bg_co.png") no-repeat scroll center transparent;
	height: 117px;
	margin-top: -130px;
	width: 100%;
	z-index: 5;
}

/*Table CO */

table.tableclass {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	border: 1px solid #777777;
	margin: 10px 0;
	border-spacing: 0;
}

table.tableclass th{
	background: url(/pw606/img/th_table.png) repeat;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	color: #000000;
	text-align: left;
}

table.tableclass td{
	height: 20px;
	line-height: 30px;
	padding: 0 5px;
}

table.tableclass .rowgroup {
	background-color: #666666;
	color: #FFFFFF;
}

table.tableclass tr:hover {
	background-color: #3BBBEC;
	color: #FFFFFF;
}

table.tableclass tr.rowgroup:hover {
	background-color: #666666;
}

table.tableclass .rowalternative {
	background-color: #EEEEEE;
}


.contador{
	font-size: 18px;
	background: url("/pw606/img/co/time.png") repeat scroll center transparent;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
	display: inline;
	border-bottom: 1px solid #004B88;
	border-left: 1px solid #3BBBEC;
	border-right: 2px solid #004B88;
	border-top: 2px solid #3BBBEC;
}

.contador span{
	padding: 0;
}

